@mixin page-wrap {
  .page-wrap > .container {
    max-width: 100%;
  }
}
$table-color: #dc4941;

body {
  .page-wrap {
    header,
    & > .nav-menu {
      display: none;
    }
    .page-container-inner {
      width: 100%;
      background-image: none;
    }
  }
  .footer-wrapper {
    display: none;
  }
}


@media (min-width: 992px) {
  @include page-wrap();
}

@media (min-width: 768px) {
  @include page-wrap();
}

.KB-fond {
  & > .navbar-1 > .container {
    justify-content: left;
    height: 75px;
    padding-top: 0;
    margin-top: 0;
    .logo {
      width: 600px;
    }
    @media (max-width: 767px) {
      & .logo {
        width: 400px;
      }
    }
  }
  .container {
    margin-top: 30px;
    h1,
    h2,
    h3 {
      font-weight: 500;
      color: #000000;
    }
    #myTab {
      margin-top: 50px;
      border-bottom: none;
      .nav-item {
        a {
          margin: 0 4px 0 0;
          padding: 12px 20px;
          border-radius: 5px 5px 0 0;
          font-weight: 500;
          color: #495057;
          background-color: #f5f5f5;
          border-color: #dee2e6 #dee2e6 #fff;
          &.active {
            background-color: #fff;
            border-bottom-color: #fff;
          }
        }
      }
      & + .tab-content {
        margin-bottom: 50px;
        & > .tab-pane {
          min-height: 500px;
          border: solid 1px #dee2e6;
          .container {
            padding-top: 10px;
            .table {
              cursor: pointer;
              thead tr th {
                background: $table-color;
                color: #fff;
                font-weight: 500;
              }
              a[data-toggle="tooltip"] {
                cursor: default;
                font-size: 0;
                text-indent: -9999px;
                line-height: 0;
                background: url(../images/otaznik_bili.png) no-repeat;
                color: transparent;
                padding: 12px 12px 6px 6px;
                margin-left: 5px;
              }
              tbody a[data-toggle="tooltip"] {
                filter: brightness(0.6) contrast(3.4) hue-rotate(217deg)
                  saturate(9.9);
              }
              thead tr th:first-child,
              tbody tr td:first-child {
                border-left: none;
              }
              &:not(.table-transform) tbody {
                border-top: none;
              }
              &.table-transform {
                display: none;
              }
              @media (max-width: 767px) {
                &:not(.table-transform) {
                  display: none;
                }
                &.table-transform {
                  display: table;
                  tbody td:first-child {
                    background: $table-color;
                    color: #fff;
                    font-weight: 500;
                    a[data-toggle="tooltip"] {
                      filter: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
      @media (max-width: 991px) {
        display: none;
        & + .tab-content {
          margin-bottom: 0;
          & > .tab-pane {
            display: block;
            min-height: auto;
            border: none;
            .container {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
