@charset "UTF-8";
body .page-wrap header,
body .page-wrap > .nav-menu {
  display: none;
}

body .page-wrap .page-container-inner {
  width: 100%;
  background-image: none;
}

body .footer-wrapper {
  display: none;
}

@media (min-width: 992px) {
  .page-wrap > .container {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .page-wrap > .container {
    max-width: 100%;
  }
}

.KB-fond > .navbar-1 > .container {
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 75px;
  padding-top: 0;
  margin-top: 0;
}

.KB-fond > .navbar-1 > .container .logo {
  width: 600px;
}

@media (max-width: 767px) {
  .KB-fond > .navbar-1 > .container .logo {
    width: 400px;
  }
}

.KB-fond .container {
  margin-top: 30px;
}

.KB-fond .container h1,
.KB-fond .container h2,
.KB-fond .container h3 {
  font-weight: 500;
  color: #000000;
}

.KB-fond .container #myTab {
  margin-top: 50px;
  border-bottom: none;
}

.KB-fond .container #myTab .nav-item a {
  margin: 0 4px 0 0;
  padding: 12px 20px;
  border-radius: 5px 5px 0 0;
  font-weight: 500;
  color: #495057;
  background-color: #f5f5f5;
  border-color: #dee2e6 #dee2e6 #fff;
}

.KB-fond .container #myTab .nav-item a.active {
  background-color: #fff;
  border-bottom-color: #fff;
}

.KB-fond .container #myTab + .tab-content {
  margin-bottom: 50px;
}

.KB-fond .container #myTab + .tab-content > .tab-pane {
  min-height: 500px;
  border: solid 1px #dee2e6;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container {
  padding-top: 10px;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table {
  cursor: pointer;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table thead tr th {
  background: #dc4941;
  color: #fff;
  font-weight: 500;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table a[data-toggle="tooltip"] {
  cursor: default;
  font-size: 0;
  text-indent: -9999px;
  line-height: 0;
  background: url(../images/otaznik_bili.png) no-repeat;
  color: transparent;
  padding: 12px 12px 6px 6px;
  margin-left: 5px;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table tbody a[data-toggle="tooltip"] {
  -webkit-filter: brightness(0.6) contrast(3.4) hue-rotate(217deg) saturate(9.9);
          filter: brightness(0.6) contrast(3.4) hue-rotate(217deg) saturate(9.9);
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table thead tr th:first-child,
.KB-fond .container #myTab + .tab-content > .tab-pane .container .table tbody tr td:first-child {
  border-left: none;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table:not(.table-transform):not(.table-basic-info) tbody {
  border-top: none;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table.table-transform {
  display: none;
}

@media (max-width: 767px) {
  .KB-fond .container #myTab + .tab-content > .tab-pane .container .table:not(.table-transform):not(.table-basic-info) {
    display: none;
  }
  .KB-fond .container #myTab + .tab-content > .tab-pane .container .table.table-transform {
    display: table;
  }
  .KB-fond .container #myTab + .tab-content > .tab-pane .container .table.table-transform tbody td:first-child {
    background: #dc4941;
    color: #fff;
    font-weight: 500;
  }
  .KB-fond .container #myTab + .tab-content > .tab-pane .container .table.table-transform tbody td:first-child a[data-toggle="tooltip"] {
    -webkit-filter: none;
            filter: none;
  }
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table.table-basic-info tbody tr {
  border-top: none;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table.table-basic-info tbody tr:last-child {
  border-bottom: none;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table.table-basic-info tbody tr td {
  padding-left: 15px;
  border-left: none;
  border-right: none;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table.table-basic-info tbody tr td:first-child {
  font-weight: 500;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table.table-basic-info tbody tr:last-child td {
  padding-left: 5px;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table.table-basic-info tbody tr:last-child td p {
  font-weight: normal;
  margin-bottom: 0;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .table.table-basic-info tbody tr:last-child td p span {
  font-weight: 500;
  padding-right: 5px;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .row #chartContainer {
  margin-top: 15px;
  margin-left: -10px;
  width: 100%;
  height: 340px;
}

.KB-fond .container #myTab + .tab-content > .tab-pane .container .row .card {
  margin: 15px 0;
  font-size: 1.3em;
  text-align: center;
}

@media (max-width: 991px) {
  .KB-fond .container #myTab {
    display: none;
  }
  .KB-fond .container #myTab + .tab-content {
    margin-bottom: 0;
  }
  .KB-fond .container #myTab + .tab-content > .tab-pane {
    display: block;
    min-height: auto;
    border: none;
  }
  .KB-fond .container #myTab + .tab-content > .tab-pane .container {
    padding: 0;
  }
}

.KB-fond .container > .container {
  padding: 0;
  h3-margin-bottom: 50px;
}

.KB-fond .container > .container table.table-last thead tr th {
  background-color: rgba(139, 147, 168, 0.25);
  padding-left: 30px;
}

.KB-fond .container > .container table.table-last tbody {
  border-top: none;
}

.KB-fond .container > .container table.table-last tbody tr td {
  background-color: rgba(139, 147, 168, 0.25);
  padding-left: 30px;
  position: relative;
  border-bottom: none;
}

.KB-fond .container > .container table.table-last tbody tr td:first-child::before {
  content: "⌄";
  opacity: .5;
  position: absolute;
  top: 5px;
  left: 10px;
}

.KB-fond .container > .container table.table-last tbody tr td:last-child {
  text-align: right;
  color: #68efad;
}

.KB-fond .container > .container table.table-last thead tr th,
.KB-fond .container > .container table.table-last tbody tr td {
  border-left: none;
  border-right: none;
  opacity: 0.6;
}
/*# sourceMappingURL=style.css.map */