@mixin page-wrap {
  .page-wrap > .container {
    max-width: 100%;
  }
}
$table-color: #dc4941;
$table-background-color: rgba(139, 147, 168, 0.25);

body {
  .page-wrap {
    header,
    & > .nav-menu {
      display: none;
    }
    .page-container-inner {
      width: 100%;
      background-image: none;
    }
  }
  .footer-wrapper {
    display: none;
  }
}

@media (min-width: 992px) {
  @include page-wrap();
}

@media (min-width: 768px) {
  @include page-wrap();
}

.KB-fond {
  & > .navbar-1 > .container {
    justify-content: left;
    height: 75px;
    padding-top: 0;
    margin-top: 0;
    .logo {
      width: 600px;
    }
    @media (max-width: 767px) {
      & .logo {
        width: 400px;
      }
    }
  }
  .container {
    margin-top: 30px;
    h1,
    h2,
    h3 {
      font-weight: 500;
      color: #000000;
    }
    #myTab {
      margin-top: 50px;
      border-bottom: none;
      .nav-item {
        a {
          margin: 0 4px 0 0;
          padding: 12px 20px;
          border-radius: 5px 5px 0 0;
          font-weight: 500;
          color: #495057;
          background-color: #f5f5f5;
          border-color: #dee2e6 #dee2e6 #fff;
          &.active {
            background-color: #fff;
            border-bottom-color: #fff;
          }
        }
      }
      & + .tab-content {
        margin-bottom: 50px;
        & > .tab-pane {
          min-height: 500px;
          border: solid 1px #dee2e6;
          .container {
            padding-top: 10px;
            .table {
              cursor: pointer;
              thead tr th {
                background: $table-color;
                color: #fff;
                font-weight: 500;
              }
              a[data-toggle="tooltip"] {
                cursor: default;
                font-size: 0;
                text-indent: -9999px;
                line-height: 0;
                background: url(../images/otaznik_bili.png) no-repeat;
                color: transparent;
                padding: 12px 12px 6px 6px;
                margin-left: 5px;
              }
              tbody a[data-toggle="tooltip"] {
                filter: brightness(0.6) contrast(3.4) hue-rotate(217deg)
                  saturate(9.9);
              }
              thead tr th:first-child,
              tbody tr td:first-child {
                border-left: none;
              }
              &:not(.table-transform):not(.table-basic-info) tbody {
                border-top: none;
              }
              &.table-transform {
                display: none;
              }
              @media (max-width: 767px) {
                &:not(.table-transform):not(.table-basic-info) {
                  display: none;
                }
                &.table-transform {
                  display: table;
                  tbody td:first-child {
                    background: $table-color;
                    color: #fff;
                    font-weight: 500;
                    a[data-toggle="tooltip"] {
                      filter: none;
                    }
                  }
                }
              }
              &.table-basic-info {
                tbody tr {
                  border-top: none;
                  &:last-child {
                    border-bottom: none;
                  }
                  td {
                    padding-left: 15px;
                    border-left: none;
                    border-right: none;
                    &:first-child {
                      font-weight: 500;
                    }
                  }
                  &:last-child td {
                    padding-left: 5px;
                    p {
                      font-weight: normal;
                      margin-bottom: 0;
                      span {
                        font-weight: 500;
                        padding-right: 5px;
                      }
                    }
                  }
                }
              }
            }
            .row {
              #chartContainer {
                margin-top: 15px;
                margin-left: -10px;
                width: 100%;
                height: 340px;
              }
              .card {
                margin: 15px 0;
                font-size: 1.3em;
                text-align: center;
              }
            }
          }
        }
      }
      @media (max-width: 991px) {
        display: none;
        & + .tab-content {
          margin-bottom: 0;
          & > .tab-pane {
            display: block;
            min-height: auto;
            border: none;
            .container {
              padding: 0;
            }
          }
        }
      }
    }
    & > .container {
      padding: 0;
      h3: {
        margin-bottom: 50px;
      }
      table.table-last {
        thead tr th {
          background-color: $table-background-color;
          padding-left: 30px;
        }
        tbody {
          border-top: none;
          tr {
            td {
              background-color: $table-background-color;
              padding-left: 30px;
              position: relative;
              border-bottom: none;
              &:first-child::before {
                content: "⌄";
                opacity: .5;
                position: absolute;
                top: 5px;
                left: 10px;
              }
              &:last-child {
                text-align: right;
                color: #68efad;
              }
            }
          }
        }
        thead tr th,
        tbody tr td {
          border-left: none;
          border-right: none;
          opacity: 0.6;
        }
      }
    }
  }
}
